@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  width: 35vw;
  padding: 1vw;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  border-radius: 20px;
}

.btnS {
  width: 17vw;
  padding: 0.5vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border-radius: 10px;
}

iframe {
  display: block;
  width: 100vw;
  height: 100vh;
  border: none;

}
